extends layout

block content
	form(action='/api',method='post')
		.form-group
			label URL
			input#1.form-control(name='url', type='text', placeholder='Enter Profile URL')
		input.btn.btn-default(name='submit', type='submit', value='Fetch!')